*, *::after, *::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  display: inline-block;
  color: #ffffff;
}

ul, li{
  list-style: none;
}

body{
  font-family: 'OpenSans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}

.site-container{
  overflow: hidden;
}

.container{
  margin: 0 5%;
}

/* Header */

.header{
  height: 100px;
  width: 100%;
  padding-top: 25px;
  position: absolute;
}

.header__inner{
  display: flex;
  justify-content: space-between;
}

.header__navigation{
  display: flex;
  justify-content: space-around;
  width: 45%;
  height: 75px;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header__item{
  font-size: 12px;
  line-height: 18px;
  margin: 16px 0;
  height: 18px;
}

.header__item:hover{
  color: #e8c300;
}

.header__img{
  height: 150px;
  margin: 0 2%;
}

/* END Header */

/* Main */

.main{
  padding-top: 100px;
  min-height: 100vh;
  background-image: url(../img/header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main__inner{
  display: flex;
}

.main__left{
  width: 15%;
  height: 86.5vh;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
  padding-top: 25vh;
}

.main__left__text{
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 12px;
  line-height: 12px;
}

.main__center{
  width: 70%;
  height: 86.5vh;
  padding-top: 25vh;
  text-align: center;
}

.main__center__upper-title{
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  margin-bottom: 2vh;
}

.main__center__title{
  font-size: 96px;
  line-height: 96px;
  text-transform: uppercase;
  padding-bottom: 2vh;
  margin-bottom: 2vh;
}

.main__center__title.line,
.line{
position: relative;
}

.main__center__title.line::after,
.line::after{
  position: absolute;
  bottom: 0;
  margin: 0 47%;
  display: block;
  content: "";
  width: 6%;
  height: 5px;
  background-color: #e8c300;
  border-radius: 50px;
}

.main__center__btns{
  margin-bottom: 15vh;
}

.main__center__btn{
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 20px 0;
  text-align: center;
  width: 200px;
  height: 60px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  margin: 0 2% 10px;
}

.main__center__btn:hover{
  background-color: #e8c300;
}

.main__center__down{
  width: 60px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 90px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
}

.main__center__down::before{
  position: absolute;
  content: "";
  width: 1px;
  height: 57vh;
  top: -57vh;
  background-color: rgba(255, 255, 255, 0.2);
}

.main__center__down::after{
  position: absolute;
  content: "";
  width: 1px;
  height: 57vh;
  bottom: -57vh;
  background-color: rgba(255, 255, 255, 0.2);
}

.main__center__down__btn{
  display: block;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  color: #333333;
  border-radius: 90px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__right{
  width: 15%;
  height: 86.5vh;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 25vh;
  display: flex;
  flex-direction: column;
}

.main__right__contact{
  width: 60px;
  height: 60px;
  margin-bottom: 30px;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 90px;
}

/* END Main */

/* About */

.about__inner{
  display: flex;
  padding: 100px 0;
}

.about__left{
  width: 50%;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about__title{
  font-size: 36px;
  line-height: 48px;
  color: #000000;
  text-transform: uppercase;
  padding-bottom: 15px;
}

.about__title.line::after{
  bottom: 0;
  margin: 0 35%;
  width: 30%;
}

.about__under__title{
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  text-align: center;
  margin: 20px 0;
}

.about__text{
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #000000;
  text-align: center;
}

.about__right{
  width: 50%;
  padding-left: 40px;
}

.about__right__img{
  width: 30vw;
  height: 30vw;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.rectangle{
  width: 30vw;
  height: 30vw;
  position: relative;
}

.rectangle::after{
  position: absolute;
  content: "";
  right: -7.5vw;
  top: 7.5vw;
  height: 15vw;
  width: 15vw;
  border: 1vw solid #e8c300;
  border-radius: 5px;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.2), inset 0px 0px 100px rgba(0, 0, 0, 0.2);
}

/* END About */

/* Team */

.team{
  background-image: url(../img/chef-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.team__inner{
  padding-bottom: 100px;
  text-align: center;
}

.team__title{
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  padding: 43px 0;
}

.team__container{
  display: flex;
}

.team__left{
  width: 50%;
  padding-right: 40px;
}

.team__left__img{
  width: 30vw;
  height: 30vw;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.team .rectangle{
  margin-left: auto;
}

.team .rectangle::after{
  left: -7.5vw;
}

.team__right{
  width: 50%;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team__right__title{
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 15px;
}

.team__right__title.line::after{
  bottom: 0;
  margin: 0 36%;
  width: 22%;
}

.team__under__title{
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  margin: 20px 0;
}

.team__text{
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  text-align: center;
}

/* END Team */

/* Booking */

.booking__inner{
  padding-top: 100px;
}

.booking__container{
  display: flex;
}

.booking__left{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 40px;
  padding-left: 10%;
}

.booking__title{
  font-size: 36px;
  line-height: 48px;
  color: #000000;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.booking__title.line::after{
  margin: 0 38%;
  width: 24%;
}

.booking__items{
  width: 100%;
  display: flex;
  margin-bottom: 1vw;
}

.booking__items:last-child{
  margin-bottom: 0;
}

.booking__item{
  width: 50%;
  height: 60px;
  background-color: #e5e5e5;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 10px 20px;
  color: rgba(51, 51, 51, 0.5);
  margin-right: 2%;
}

.booking__item:last-child{
  margin-right: 0;
}

.booking__btn{
  width: 100%;
  height: 60px;
  background-color: #e8c300;
  border-radius: 5px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  padding: 20px 0;
  text-transform: uppercase;
}

.booking__right{
  width: 50%;
  padding-left: 40px;
}

.booking_img{
  width: 30vw;
  height: 30vw;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.booking__text{
  font-size: 12px;
  line-height: 20px;
  color: rgba(51, 51, 51, 0.5);
  padding: 40px 0;
  text-align: center;
}

/* END Booking*/

/* Specialties */

.specialties{
  background-image: url(../img/specialties-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100px;
}

.specialties__upper__title{
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  text-align: center;
  padding: 40px 0;
}

.slider__item{
  display: flex;
}

.specialties__left{
  width: 50%;
  padding-right: 40px;
}

.specialties__img{
  width: 30vw;
  height: 30vw;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.specialties .rectangle{
  margin-left: auto;
}

.specialties .rectangle::after{
  left: -7.5vw;
}

.specialties__right{
  width: 50%;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.specialties__title{
  font-size: 36px;
  line-height: 48px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 15px;
}

.specialties__title.line::after{
  width: 12%;
  margin: 0 44%;
  bottom: 0;
}

.specialties__under__title{
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  margin: 20px 0;
}

.specialties__text{
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  text-align: center;
}

/* END Specialties */

/* Menu */

.menu__inner{
  padding: 100px 0 70px;
}

.menu__title{
  font-size: 36px;
  line-height: 48px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 15px;
}

.menu__title.line::after{
  width: 5%;
  margin: 0 47.5%;
  bottom: 0;
}

.menu__under__title{
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  text-align: center;
  margin: 20px auto 30px;
  width: 50%;
}

.menu__btns{
  color: #333333;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.menu__btn{
  font-size: 12px;
  line-height: 20px;
  padding: 15px 30px;
  border-right: 1px solid rgba(51, 51, 51, 0.2);
 
}

.menu__btn:last-child{
  border-right: none;
}

.menu__btn:hover{
  color: #e8c300;
  cursor: pointer;
}

.menu__items{
  color: #333333;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu__item{
  width: 30%;
  margin-bottom: 30px;
  text-align: center;
}

.menu__name{
  font-size: 18px;
  line-height: 18px;
}

.menu__descr{
  font-size: 12px;
  line-height: 14px;
  color: rgba(51, 51, 51, 0.2);
}

/* END Menu*/

/* Events */

.events{
  background-image: url(../img/events-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.events__inner{
  display: flex;
  flex-direction: column;
}

.events__head__text{
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  text-align: center;
  padding: 40px 0;
}

.events__container{
  display: flex;
}

.events__left{
  width: 50%;
  padding-right: 40px;
}

.events__left .rectangle{
  margin-left: auto;
  position: relative;
}

.events__left .rectangle::after{
  left: -7.5vw;
}

.events__title{
  position: absolute;
  font-size: 24px;
  line-height: 24px;
  width: 30vw;
  height: 4vw;
  padding: 4% 5%;
  background-color: #000000;
  border-radius: 5px 5px 0 0;
}

.events__left .events__title{
  transform: rotate(90deg);
  right: -13vw;
  top: 13vw;
}

.events__img{
  width: 30vw;
  height: 30vw;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.events__right{
  width: 50%;
  padding-left: 40px;
}

.events__right .events__title{
  transform: rotate(-90deg);
  left: -13vw;
  top: 13vw;
}

.events__foot__text{
  font-size: 12px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 40px 0;
}

/* END Events */

/* Galery */

.galery{
  display: flex;
}

.galery__img{
  width: 25vw;
  height: 25vw;
}

/* END Galery */

/* Contact*/

.contact__inner{
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__title{
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 15px;
  color: #000000;
}

.contact__title.line::after{
  bottom: 0;
  width: 24%;
  margin: 0 38%;
}

.contact__under__title{
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  margin: 20px 0;
  text-align: center;
  width: 50%;
}

.contact__form{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact__input{
  width: 32%;
  outline: none;
  height: 60px;
  padding: 0 20px;
  border-radius: 5px;
  border: none;
  background-color: #e5e5e5;
  color: rgba(51, 51, 51, 0.5);
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 20px;
}

.contact__area{
  outline: none;
  width: 100%;
  padding: 15px 20px;
  border-radius: 5px;
  border: none;
  background-color: #e5e5e5;
  color: rgba(51, 51, 51, 0.5);
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 20px;
}

.contact__btn{
  width: 100%;
  height: 60px;
  background-color: #e8c300;
  border-radius: 5px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 20px;
}

.contact__foot{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contact__phone{
  font-size: 14px;
  line-height: 20px;
  color: rgba(51, 51, 51, 0.5);
  padding: 40px 0;
  text-align: center;
}

/* END Contact*/

.map{
  display: block;
}

/* Footer */

.footer{
  position: relative;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.9);
}

.footer__inner{
  display: flex;
  justify-content: center;
}

.footer__contact{
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  margin: 40px 0;
}

.footer__contact:hover{
  color: #e8c300;
}

/* END Footer */

/* Adapt */

@media (max-width: 1500px){

  .main__center__title{
    font-size: 80px;
    line-height: 100%;
  }

}

@media (max-width: 1400px){

  .booking__left{
    padding-left: 5%;
  }

}

@media (max-width: 1200px){

  .menu__item{
    width: 32%;
  }

  .menu__name{
    font-size: 16px;
  }

}

@media (max-width: 1100px){

  .main__center__title{
    font-size: 60px;
  }

  .main__center__btn{
    width: 160px;
  }

  .menu__under__title{
    width: 70%;
  }

  .events__title{
    font-size: 18px;
    line-height: 100%;
  }

  .contact__under__title{
    width: 70%;
  }

}

@media (max-width: 1000px){

  .about__under__title{
    font-size: 14px;
  }

  .about__text{
    font-size: 14px;
  }

  .team__under__title{
    font-size: 14px;
  }

  .team__text{
    font-size: 14px;
  }

  .booking__left{
    padding-left: 0;
  }
  
  .specialties__under__title{
    font-size: 14px;
  }

  .specialties__text{
    font-size: 14px;
  }

  .menu__under__title{
    font-size: 14px;
  }

  .menu__item{
    width: 45%;
  }

  .menu__name{
    font-size: 18px;
  }

  .contact__under__title{
    font-size: 14px;
  }

}

@media (max-width: 900px){

  .about__inner{
    flex-direction: column-reverse;
  }

  .about__left{
    width: 100%;
    padding-right: 0;
    
  }

  .about__right{
    width: 100%;
    padding-left: 0;
    margin-bottom: 40px;
  }
  
  .about__right__img{
    width: 45vw;
    height: 45vw;
  }
  
  .rectangle{
    width: 45vw;
    height: 45vw;
    margin: 0 auto;
  }
  
  .rectangle::after{
    right: -11.25vw;
    top: 11.25vw;
    height: 22.5vw;
    width: 22.5vw;
  }

  .team__container{
    flex-direction: column;
  }

  .team__left{
    width: 100%;
    padding-right: 0;
    margin-bottom: 40px;
  }

  .team .rectangle::after{
    left: -11.25vw;
  }

  .team__left__img{
    width: 45vw;
    height: 45vw;
  }

  .team__right{
    width: 100%;
    padding-left: 0;
  }

  .booking__container{
    flex-direction: column-reverse;
  }

  .booking__left{
    width: 100%;
    padding-right: 0;
  }

  .booking__right{
    width: 100%;
    padding-left: 0;
    margin-bottom: 40px;
  }

  .booking_img{
    width: 45vw;
    height: 45vw;
  }

  .slider__item{
    flex-direction: column;
  }

  .specialties__left{
    width: 100%;
    padding-right: 0;
    margin-bottom: 40px;
  }

  .specialties .rectangle::after{
    left: -11.25vw;
  }

  .specialties__img{
    width: 45vw;
    height: 45vw;
  }

  .specialties__right{
    width: 100%;
    padding-left: 0;
  }

  .events__container{
    flex-direction: column;
  }

  .events__left{
    width: 100%;
    padding-right: 0;
    margin-bottom: 40px;
  }

  .events__title{
    width: 45vw;
    height: 6vw;
    font-size: 16px;
  }

  .events__left .events__title{
    transform: rotate(90deg);
    right: -19.5vw;
    top: 19.5vw;
  }

  .events__left .rectangle::after{
    left: -11.25vw;
  }

  .events__right{
    width: 100%;
    padding-left: 0;
  }
  
  .events__right .events__title{
    transform: rotate(-90deg);
    left: -19.5vw;
    top: 19.5vw;
  }

  .events__img{
    width: 45vw;
    height: 45vw;
  }

  .map{
    height: 350px;
  }

}

@media (max-width: 800px){

  .main__center__title{
    font-size: 40px;
  }

  .menu__name{
    font-size: 15px;
  }

  .menu__descr{
    font-size: 10px;
  }

}

@media (max-width: 700px){

  .menu__btns{
    flex-wrap: wrap;
  }

  .menu__item{
    width: 70%;
    margin: 0 auto 20px;
  }

  .contact__phone{
    font-size: 12px;
  }

}

@media (max-width: 600px){

  .header{
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .header__navigation{
    flex-direction: column;
    text-align: center;
    border: none;
  }

  .main__center__btns{
    margin-bottom: 10vh;
  }

  .booking__text{
    font-size: 8px;
  }

  .events__foot__text{
    font-size: 8px;
  }

  .contact__phone{
    font-size: 8px;
  }

}

/* END Adapt */

