*, *::after, *::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  display: inline-block;
  color: #ffffff;
}

ul, li{
  list-style: none;
}

body{
  font-family: 'OpenSans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}

.site-container{
  overflow: hidden;
}

.container{
  margin: 0 5%;
}

/* Header */

.header{
  height: 100px;
  width: 100%;
  padding-top: 25px;
  position: absolute;
}

.header__inner{
  display: flex;
  justify-content: space-between;
}

.header__navigation{
  display: flex;
  justify-content: space-around;
  width: 45%;
  height: 75px;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header__item{
  font-size: 12px;
  line-height: 18px;
  margin: 16px 0;
  height: 18px;
}

.header__item:hover{
  color: #e8c300;
}

.header__img{
  height: 150px;
  margin: 0 2%;
}

/* END Header */

/* Main */

.main{
  padding-top: 100px;
  min-height: 100vh;
  background-image: url(../img/header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main__inner{
  display: flex;
}

.main__left{
  width: 20%;
  height: 86.5vh;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
  padding-top: 25vh;
}

.main__left__text{
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 12px;
  line-height: 12px;
}

.main__center{
  width: 60%;
  height: 86.5vh;
  padding-top: 25vh;
  text-align: center;
}

.main__center__upper-title{
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.main__center__title{
  font-size: 96px;
  line-height: 96px;
  text-transform: uppercase;
  padding-bottom: 30px;
  margin-bottom: 15px;
}

.main__center__title.line,
.line{
position: relative;
}

.main__center__title.line::after,
.line::after{
  position: absolute;
  bottom: 5px;
  margin: 0 47%;
  display: block;
  content: "";
  width: 6%;
  height: 5px;
  background-color: #e8c300;
  border-radius: 50px;
}

.main__center__btn{
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 20px 0;
  text-align: center;
  width: 200px;
  height: 60px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  margin: 0 2% 120px;
}

.main__center__btn:hover{
  background-color: #e8c300;
}

.main__center__down{
  width: 60px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 90px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
}

.main__center__down::before{
  position: absolute;
  content: "";
  width: 1px;
  height: 57vh;
  top: -57vh;
  background-color: rgba(255, 255, 255, 0.2);
}

.main__center__down::after{
  position: absolute;
  content: "";
  width: 1px;
  height: 57vh;
  bottom: -57vh;
  background-color: rgba(255, 255, 255, 0.2);
}

.main__center__down__btn{
  display: block;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  color: #333333;
  border-radius: 90px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__right{
  width: 20%;
  height: 86.5vh;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 25vh;
  display: flex;
  flex-direction: column;
}

.main__right__contact{
  width: 60px;
  height: 60px;
  margin-bottom: 30px;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 90px;
}

/* END Main */

/* About */

.about{
  min-height: 675px;
}

.about__inner{
  display: flex;
  padding: 100px 0;
}

.about__left{
  width: 50%;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about__title{
  font-size: 36px;
  line-height: 48px;
  color: #000000;
  text-transform: uppercase;
  padding-bottom: 15px;
}

.about__title.line::after{
  bottom: 0;
  margin: 0 35%;
  width: 30%;
}

.about__under__title{
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  text-align: center;
  margin: 20px 0;
}

.about__text{
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #000000;
  text-align: center;
}

.about__right{
  width: 50%;
  padding-left: 40px;
}

.about__right__img{
  width: 30vw;
  height: 30vw;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.rectangle{
  width: 30vw;
  height: 30vw;
  position: relative;
}

.rectangle::after{
  position: absolute;
  content: "";
  right: -7.5vw;
  top: 7.5vw;
  height: 15vw;
  width: 15vw;
  border: 1vw solid #e8c300;
  border-radius: 5px;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.2), inset 0px 0px 100px rgba(0, 0, 0, 0.2);
}

/* END About */

/* Team */

.team{
  min-height: 675px;
  background-image: url(../img/chef-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.team__inner{
  padding-bottom: 100px;
  text-align: center;
}

.team__title{
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  padding: 43px 0;
}

.team__container{
  display: flex;
}

.team__left{
  width: 50%;
  padding-right: 40px;
}

.team__left__img{
  width: 30vw;
  height: 30vw;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.team .rectangle{
  margin-left: auto;
}

.team .rectangle::after{
  left: -7.5vw;
}

.team__right{
  width: 50%;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team__right__title{
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 15px;
}

.team__right__title.line::after{
  bottom: 0;
  margin: 0 36%;
  width: 22%;
}

.team__under__title{
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  margin: 20px 0;
}

.team__text{
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  text-align: center;
}

/* END Team */

/* Booking */

.booking{
  min-height: 675px;
}

.booking__inner{
  padding-top: 100px;
}

.booking__container{
  display: flex;
}

.booking__left{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 40px;
  padding-left: 10%;
}

.booking__title{
  font-size: 36px;
  line-height: 48px;
  color: #000000;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.booking__title.line::after{
  margin: 0 38%;
  width: 24%;
}

.booking__items{
  width: 100%;
  display: flex;
  margin-bottom: 1vw;
}

.booking__items:last-child{
  margin-bottom: 0;
}

.booking__item{
  width: 50%;
  height: 60px;
  background-color: #e5e5e5;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 10px 20px;
  color: rgba(51, 51, 51, 0.5);
  margin-right: 2%;
}

.booking__item:last-child{
  margin-right: 0;
}

.booking__btn{
  width: 100%;
  height: 60px;
  background-color: #e8c300;
  border-radius: 5px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  padding: 20px 0;
  text-transform: uppercase;
}

.booking__right{
  width: 50%;
  padding-left: 40px;
}

.booking_img{
  width: 30vw;
  height: 30vw;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.booking__text{
  font-size: 12px;
  line-height: 20px;
  color: rgba(51, 51, 51, 0.5);
  padding: 40px 0;
  text-align: center;
}

/* END Booking*/

@media (max-width: 600px){
  .header__navigation{
    display: none;
  }
}